<header>
    <div class="container">
        <div th:if="${username != null}" class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <b th:text="${username}"></b>
            </a>

            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/auth/profile">Chỉnh sửa thông tin</a></li>
                <li><a class="dropdown-item text-danger" href="/auth/logout">Đăng xuất</a></li>
            </ul>
        </div>
        <a href="/admin/home"><i class="fas fa-home"></i> Trang chủ</a>
        <a href="/report/inventory-by-category"><i class="fas fa-box"></i>Tồn kho theo loại</a>
        <a href="#"><i class="fas fa-file-alt"></i> Bài viết</a>
        <a href="#"><i class="fas fa-user"></i> Thành viên</a>
        <a href="#"><i class="fas fa-cog"></i> Cấu hình</a>

    </div>

</header>