<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">VINTAGE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/home">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                        <li class="nav-item"><a class="nav-link" href="/new-products">Sản phẩm mới</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Bán chạy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Dịch vụ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Liên hệ</a></li>
                    </ul>
                    <div class="nav-icons">
                        <a href="/user/cart" class="icon"><i class="fas fa-shopping-cart"></i></a>

                        <!-- Nếu đã đăng nhập -->
                        <div th:if="${username != null}" class="dropdown">
                            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="userDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <b th:text="${username}"></b>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="/profile/edit">Chỉnh sửa thông tin</a></li>
                                <li><a class="dropdown-item text-danger" href="/auth/logout">Đăng xuất</a></li>
                            </ul>
                        </div>

                        <!-- Nếu chưa đăng nhập -->
                        <a th:if="${username == null}" href="/auth/login" class="btn btn-contact"
                            style="color: blue;">Đăng nhập</a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</header>