<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">HOME COFFEE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/home">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Mới</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Bán chạy</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Dịch vụ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
                    </ul>
                    <div class="nav-icons">
                        <a href="/user/cart" class="icon"><i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>