<!DOCTYPE html>
<html
  lang="vi"
  th:replace="~{/user/layouts/templateUser.html::view(~{::main},~{::title})}"
>
  <head>
    <title>Giỏ hàng</title>
  </head>

  <body>
    <main>
      <h2>Giỏ hàng</h2>
      <table>
        <tr th:each="item : ${cartItems}">
          <td>
            <img
              th:src="@{/images/{imageName}(imageName=${item.product.image})}"
              width="50"
            />
          </td>
          <td th:text="${item.product.name}"></td>
          <td th:text="${item.product.price} + ' VND'"></td>
          <td>
            <form
              th:action="@{/user/cart/update/{id}(id=${item.product.id})}"
              method="post"
            >
              <input
                type="number"
                name="quantity"
                th:value="${item.quantity}"
                min="1"
              />
              <button type="submit">Cập nhật</button>
            </form>
          </td>
          <td th:text="${item.totalPrice} + ' VND'"></td>
          <td>
            <form
              th:action="@{/user/cart/remove/{id}(id=${item.product.id})}"
              method="post"
            >
              <button type="submit">Xóa</button>
            </form>
          </td>
        </tr>
      </table>
      <p><strong>Tổng cộng:</strong> <span th:text="${total}"></span> VND</p>
      <form th:action="@{/checkout}" method="post">
        <label for="address">Địa chỉ giao hàng:</label>
        <input type="text" id="address" name="address" required />
        <button type="submit">Thanh toán</button>
      </form>

      <form th:action="@{/user/cart/clear}" method="post">
        <button type="submit">Xóa giỏ hàng</button>
      </form>
    </main>
    <script></script>
  </body>
</html>
