<!DOCTYPE html>
<html lang="vi" th:replace="~{/user/layouts/templateUser :: view(~{::main}, ~{::title})}">

<head>

  <head>
    <title>Trang chủ</title>

  </head>

<body>
  <main class="index">
    <!-- FLASH SALE -->
    <h1 class="section-title">Flash Sale</h1>
    <div id="countdown"></div>

    <div class="product-grid" th:if="${!#lists.isEmpty(flashSale)}">
      <div class="product-item" th:each="product : ${flashSale}" style="position: relative;">
        <p class="discount-label"
          th:title="'Giá gốc: ' + ${#numbers.formatInteger(product.originalPrice, 0, 'COMMA')} + ' VND'">
          -<span th:text="${product.getDiscountPercentage()}"></span>%</p>
        <img th:src="@{${product.image}}" class="card-img-top">
        <div class="action-buttons">
          <a class="btn-detail" th:href="@{/products/product/{id}(id=${product.id})}">Chi tiết</a>
          <form th:action="@{/user/cart/add/{id}(id=${product.id})}" method="post" style="display:inline;">
            <button type="submit" class="btn-buy">Mua ngay</button>
          </form>
        </div>
        <div class="card-body">
          <h5 class="card-title" th:text="${product.name}"></h5>
          <p>
            <span class="price" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + ' VND'"></span>
            <span class="original-price" th:if="${product.getDiscountPercentage() > 0}"
              th:text="${#numbers.formatInteger(product.originalPrice, 0, 'COMMA')} + ' VND'"></span>
          </p>
          <!-- <form th:action="@{/user/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit" class="btn-add-cart">Mua ngay</button>
          </form> -->
        </div>
      </div>
    </div>

    <div th:if="${#lists.isEmpty(flashSale)}" class="no-products">Không có sản phẩm Flash Sale.</div>

    <hr class="my-4">

    <!-- SẢN PHẨM KHÁC -->
    <h1 class="section-title">Danh sách Sản phẩm</h1>

    <div class="product-grid" th:if="${!#lists.isEmpty(page.content)}">
      <div class="product-item" th:each="product : ${page.content}">
        <img th:src="@{${product.image}}" class="card-img-top">
        <div class="action-buttons">
          <a class="btn-detail" th:href="@{/user/product/detail/{id}(id=${product.id})}">Chi tiết</a>
          <form th:action="@{/user/cart/add/{id}(id=${product.id})}" method="post" style="display:inline;">
            <button type="submit" class="btn-buy">Mua ngay</button>
          </form>
        </div>
        <div class="card-body">
          <h5 class="card-title" th:text="${product.name}"></h5>
          <p class="text-danger fw-bold" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + ' VND'"></p>
          <!-- <form th:action="@{/user/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit" class="btn-add-cart">Mua ngay</button>
          </form> -->
        </div>
      </div>
    </div>

    <div th:if="${#lists.isEmpty(page.content)}">Không có sản phẩm nào để hiển thị.</div>

  </main>


</body>

</html>