<!DOCTYPE html>
<html lang="en" th:replace="~{/user/layouts/templateUser.html::view(~{::main},~{::title})}">

<head>
    <title>ffff</title>
</head>

<body>
    <main>
        <div class="hero-section">
            <div class="container text-center">
                <h1>TIME TO DISCOVER <br> COFFEE HOUSE</h1>
                <p>The coffee is brewed by first roasting the green coffee beans over hot coals...</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">TESTY COFFEE</a>
                    <a href="#" class="btn btn-outline-light">LEARN MORE</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>