<!DOCTYPE html>
<html lang="en" th:replace="~{/user/layouts/templateUser.html::view(~{::main},~{::title})}">

<head>
    <title>ffff</title>
</head>

<body>
    <main>
        <div class="hero-section">
            <div class="container text-center">
                <h1>EXPLORE YOUR STYLE <br> WITH TRENDY CLOTHING</h1>
                <p>Đưa phong cách của bạn lên một tầm cao mới với bộ sưu tập thời trang độc đáo & chất lượng cao.</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">MUA NGAY</a>
                    <a href="#" class="btn btn-outline-light">XEM BỘ SƯU TẬP</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>